body {
	margin: 0;
	font-family: Arial;
}

#logo {
	height: 100x;
	width: 100px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}